  body {
    margin: 0;
    
    }
  
    


  .topnav {
    overflow: hidden;
    background-color: rgb(224, 217, 16);
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
  }
  
  .topnav a:hover {
    background-color: rgb(244, 217, 16);
    
  }
  
  .topnav a.active {
    background-color: rgb(244, 217, 16);
    
  }
  
  .topnav {
      height: 50px;  
  }
  
  
  .textheading {
      color: rgb(255,255,255);
      text-align: center;
      margin-top: 80px;
      font-size: 28px;
     font-family: 'Roboto';
     font-style: normal;
      font-weight: 400;
      
  }
      


  
  .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
        

.dropdown {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
 width: 3%;

}
  
  .dropdown-content {
    display:none;
    position: absolute;
    
    margin-left: -57px;
    background-color: rgb(32, 32, 32);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgb(0, 0, 0);
    padding: 12px 32px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color:rgb(224, 217, 16);}
  
  .dropdown:hover .dropdown-content {display: block;}
  

 

  .LogoMenu
{
  display: block;
  
  width:45px; 
  margin-top: 3px;
  position: fixed;
  top: 0;
  
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap')

